<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/static/icon.png" rel="icon" type="image/png">
    <meta content="{{ config['BASE_URL'] }}static/icon.png" property="og:image">
    <meta content="{{ description }}" name="description">
    <meta content="CTFsub - {{ title }}" property="og:title">
    <meta content="{{ description }}" property="og:url">
    <meta content="{{ description }}" property="og:description">
    <meta content="website" property="og:type">
    <meta content="{{ config['BASE_URL'] }}" name="twitter:domain">
    <meta content="summary" name="twitter:card">
    <meta content="CTFsub - {{ title }}" name="twitter:title">
    <meta content="{{ config['BASE_URL'] }}" name="twitter:url">
    <meta content="{{ description }}" name="twitter:description">
    <meta content="{{ description }}" itemprop="description">
    <meta content="{{ config['BASE_URL'] }}" itemprop="url">
    <title>CTFsub - {{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css" integrity="sha512-Po8rrCwchD03Wo+2ibHFielZ8luDAVoCyE9i6iFMPyn9+V1tIhGk5wl8iKC9/JfDah5Oe9nV8QzE8HHgjgzp3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/default.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js" integrity="sha512-W7EehcwtSbRF63FIQlXEOOd5mnq0Et0V0nUOvwcUvjnCKgOLLYbqriQxEQSp63sfrkryxIg/A/O8v8O18QwQCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/agate.min.css" integrity="sha512-wI7oXtzNHj/bqfLA3P6x3XYbcwzsnIKaPLfjjX8ZAXhc65+kSI6sh8gLOOByOKImokAjHUQR0xAJQ/xZTzwuOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swup/2.0.14/swup.min.js" integrity="sha512-/CTMe2SxxAmQ66WTDgHBoGz9/YerivYJdgSv5zzPW5l+tqq0CfdMlVDiga4NA9lkh7gXbouMwAbAcoGQ/KKz+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/SwupScriptsPlugin.min.js"></script>
    <script src="/static/js/default.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.25.2/min/vs/loader.min.js" integrity="sha512-SExj71Cw3B9C9EE8BC/ad3AKia5zQXDj/2SM4THgkeKh5GIFZhKM/R3uclUG8YZwJrjcVhydAlIHmfNvsBCKZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block head %}

    {% endblock %}
</head>

<body>
    <div id="swup-container" class="transition-fade">
    {% block body %}
    {% block content %}
    <main>
        
            <nav>
                {% block nav %}
                {% endblock %}
            </nav>
            <header class="default" >
            {% block header %}
                <h1>
                {% if header_title %}
                    {{ header_title }}
                {% else %}
                    {{ title }}
                {% endif %}
                </h1>
            {% endblock %}
            </header>
        <div class="container">
        {% block main %}
        {% endblock %}
        </div>
    </main>
    {% endblock %}

    <footer class="default">
        {% block footer %}
                <div>
                    CTFsub
                </div>
                <div style="text-align: right;">
                     <a target="_blank" href="https://github.com/domysh/ctfsub">GITHUB</a>
                </div>
        {% endblock %}
    </footer>
    {% endblock %}


    </div>

</body>



</html>