{% extends "fullwidth.html" %}


{% block main %}
<img src="/static/img/logo.png" style="margin-bottom:100px;">
<div class="text-center">
    <h1 style="font-weight: bolder;">CTFsub is in configuration mode!</h1>
    <p>Only one browser can access to CTFsub during the configuration.</p>
</div>

<button class="btn btn-success" onclick="get_single_access()">Switch access to this browser session</button>


<script>
    function get_single_access(){
        fetch("/api/allow_single_access")
    }
</script>
{% endblock %}

