@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --first: #f9f8f3;
    --second: #273c47;
    --third: #fb5555;
    --fourth: #df1833;
    --fifth: #3fa997;
    --text: #FFF;
    --sub-text: #9B9B9B;
    --done: #3bc53b;
}

html {
    margin: 0;
    border: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    margin: 0;
    background: var(--first);
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
}

main {
    min-height: calc(100vh - 150px);
}

nav {
    height: 100px;
    background: var(--second);
}

img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

footer.default {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    font-weight: bold;
    background: var(--second);
}

a,
a:hover {
    transition: 0.3s;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

a {
    color: var(--text);
}

a:hover {
    color: var(--fifth);
}

.logo-nav {
    max-height: 100px;
}

.centered-flex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-flex.flex-rows {
    flex-direction: column;
}

.subtitle-text {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: var(--fourth);
    font-size: 200%;
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.question-btn{
    font-size:150%;
    margin:5px;
    color: var(--third);
}

html.is-animating .transition-fade {
    opacity: 0;
}

[onclick],
[onClick] {
    cursor: pointer;
}

.accordion-button,
.accordion-button:focus{
    background: var(--second) !important;
    border-bottom: 2px solid var(--fifth);
}
.accordion-button.collapsed
.accordion-button.collapsed:focus{
    background: var(--second);
    border:none !important;
}
.accordion-button:focus,
.accordion-button{
    color: var(--text) !important;
}
.accordion-item{
    border:none;
}
.accordion-item:focus{
    outline: none;
}
.accordion-body,
.accordion-body code{
    background: var(--second);
}
.accordion-button:focus {
    box-shadow: none;
}

.input-group-text{
    color: var(--text);
    font-weight: bold;
}


/* Fake browser */
.browser {
    font-size: 18px;
      padding: 2.1em 0 0 0;
      border-radius: 0.25em;
      background: #ddd;
      display: inline-block;
      position: relative;
    overflow: hidden;
    box-shadow: 0 0.25em 0.9em -0.1em rgba(0,0,0,.3);
  }
  
  .browser .browser-navigation-bar {
      display: block;
    box-sizing: border-box;
      height: 2.1em;
      position: absolute;
      top: 0;
    padding: 0.3em;
    width: 100%;
    background: linear-gradient(to bottom, #edeaed 0%, #dddfdd 100%);
    border-bottom: 2px solid #cbcbcb;
  }
   
  .browser i {
    display: inline-block;
      height: 0.7em;
      width: 0.7em;
      border-radius: 0.45em;
      background-color: #eee;
      margin: 0.4em 0.08em;
  }

  .browser i.fa-redo-alt,
  .browser svg.fa-redo-alt{
      display: inline-block;
      height: 0.8em;
      width: 0.8em;
      color: #555;
      margin: 0.4em 0.15em;
      margin-bottom: 0.45em;
  }

  .browser i.fa-times,
  .browser svg.fa-times{
      display: inline-block;
      height: 1em;
      width: 1em;
      color: #555;
      margin: 0.3em 0.15em;
      margin-bottom: 0.35em;
  }
  
  .browser i:nth-child(1) {background-color: rgb(255, 86, 79)}
  
  .browser i:nth-child(1):hover {background-color: rgb(255, 20, 25)}
  
  .browser i:nth-child(2) {background-color: rgb(255, 183, 42)}
  
  .browser i:nth-child(2):hover {background-color: rgb(230, 175, 42)}
  
  .browser i:nth-child(3) {background-color: rgb(37, 198, 58)}
  
  .browser i:nth-child(3):hover {background-color: rgb(10, 225, 10)}
  
  .browser input {
    font-size: 0.75em;
    vertical-align: top;
    display: inline-block;
      height: 1.6em;
    color: #222;
      width: calc(100% - 9em);
    border: 0.1em solid #E1E1E1;
      border-radius: 0.25em;
      background-color: #eee;
    margin: 0.1em;
    padding: 0 0.4em;
  }
  
  .browser-container {
    height: 100%;
    width: 100%;
  }
  
  