{% extends "fullwidth.html" %}


{% block main %}
<script src="/static/js/init-funcs.js"></script>
<div style="margin-bottom: 80px;" class="text-center">
    <h1>Load Configs</h1>
    <p>Choose if create new configs or load config generated before</p>
</div>
<div class="row g-0 align-items-center justify-content-center">
    <div class="col-12 center-block text-center">
        <div>
            <input id="config-upload" type="file" hidden/>
            <label class="btn btn-primary" id="upload-btn" for="config-upload">Choose file</label>
            &nbsp;
            <i class="fas fa-upload" onclick="upload_config()" style="color: var(--fifth);font-size:150%"
             data-bs-toggle="tooltip" data-bs-placement="top" title="Upload the configuration"></i>
            <br >
        </div>
    </div>
    <div class="col-12 center-block text-center" style="font-weight:bolder; margin:30px;">
        OR
    </div>
    <div class="col-12 center-block text-center">
        <button onclick="request_next({'config_method':'create'})" class="btn btn-warning" >Create a new configuration</button>
    </div>
</div>

<script>




document.getElementById('config-upload').addEventListener('change', function(){
    const fileChosen = document.getElementById('upload-btn');
    if (this.files.length <= 0){
        fileChosen.textContent = "Choose file"
        fileChosen.style = ""
    }else{
        fileChosen.textContent = this.files[0].name
        fileChosen.style["font-weight"] = "bold"
        fileChosen.style.color = "var(--done)"
    }
})


async function upload_config() {
    let files = document.getElementById("config-upload").files
    if (files.length <= 0){
        show_error("You have to upload a json file!")
        return
    }else{
        let data = null
        try{
            let json_text = await files[0].text()
            let data_parsed = JSON.parse(json_text)
            data = {"config_method":"upload","data":data_parsed}
        }catch(err){
            show_error("The file choosen is not a json file!")
            return;
        }
        request_next(data)
    }
}
</script>

{% endblock %}


{% block footer %}
    <a type="button" onclick="request_back()" class="btn btn-danger">
        <i class="fas fa-angle-double-left"></i> Back
    </a>
    <div></div>
{% endblock %}
