{% extends "fullwidth.html" %}

{% block main %}
<script src="/static/js/init-funcs.js"></script>
<style>
    #code-editor{
        width: 70vw;
        height: 60vh;
    }
    #code-editor .monaco-editor{
        width: 70vw !important;
        height: 60vh !important;
    }

    .margin-around{
        margin: 20px;
    }
</style>
<div style="margin-left: 20px;width: 80%; padding: 40px 0;">
    <h1>Flag Submit</h1>
    <p>Write you code and choose your settings for the flag submiter</p>
</div>
<div class="browser">
    <div class="browser-navigation-bar">
        <i onclick="useless_function()"></i>
        <i onclick="useless_function()"></i>
        <i onclick="useless_function()"></i>
        <!-- Place your URL into <input> below -->
        <input value="Python code editor - Flag submit" disabled/>
        <i class="fas fa-times" onclick="reset_text()"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Reset script to initial example"></i>
        <i class="fas fa-redo-alt" onclick="reload_text()" aria-hidden="true"
        data-bs-toggle="tooltip" data-bs-placement="top" title="Set the script to the last saved version"></i>
    </div>

    <div class="browser-container">
        <div id="code-editor"></div>  
    </div>
</div><br>
<div style="width: 70%;">
    <div style="margin-top: 30px;"></div>
    <div class="flex-row">
        <div class="input-group flex-nowrap">
            <span class="input-group-text">Flag Regex</span>
            <input type="text" class="form-control" placeholder="flg\{[A-Za-z0-9]{25}\}">
        </div>
        <i class="fas fa-question question-btn" onclick="how_flag_regex_works()"></i>
    </div>
    <div style="margin-top: 10px;"></div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="duplicated-flags">
        <label class="form-check-label" for="duplicated-flags">
            <b>Send Duplicated Flags</b>
        </label>
    </div>
    <div style="margin-top: 30px;"></div>

</div>

<div class="accordion accordion-flush" id="accordionFlushExample" style="max-width: 70%;width: 70%;">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <b>Teamporised flag submit</b>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            
            <div style="margin-top: 30px;"></div>
            <div class="form-check form-switch flex-row justify-content-around">
                <input type="checkbox" onchange="temporised_submit_change()" style="width: 60px;height: 30px;margin-right: 5px;" class="form-check-input mt-0" id="temporised-flags">
                <h4>Enable temporised flag submit</h4> 
                <i class="fas fa-question question-btn" onclick="how_temporised_flag_submit_works()"></i>
            </div>
            <div style="margin-top: 30px;"></div>
            <div id="temporised-flags-detail-inputs">
                <div class="input-group flex-nowrap" style="width: 80%; margin: 0 auto;">
                    <span class="input-group-text">Submit time range</span>
                    <input type="number" class="form-control" step="0.1" min="0.1" placeholder="1.5" id="submit-time-range">
                    <span class="input-group-text">sec</span>
                </div>
                <div class="input-group flex-nowrap" style="width: 80%; margin: 0 auto;">
                    <span class="input-group-text">No. of attack in a time range</span>
                    <input type="number" class="form-control" step="1" min="1" placeholder="1" id="attacks-in-a-range">
                </div>
            </div>

        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <b>Multiple flag submit</b>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Not Implmented Yet</div>
      </div>
    </div>
  </div>

  <script src="/static/js/init/init3.js"></script>

{% endblock %}

{% block footer %}
    <a type="button" onclick="request_back()" class="btn btn-danger">
        <i class="fas fa-angle-double-left"></i> Back
    </a>
    <a type="button" onclick="send_team_list()" class="btn btn-danger">
        Next <i class="fas fa-angle-double-right"></i>
    </a>
{% endblock %}